<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    table {
      width: 100%;
      border: 1px double black;
      border-collapse: collapse;
    }
    th {
      text-align: left;
      background: #ccc;
      padding: 5px;
      border: 1px solid black;
    }
    td {
      padding: 5px;
      border: 1px solid black;
    }
    </style>
  </head>
  <body>
    <table border="1">
      <thead>
        <tr>
          <th colspan="2"><strong>{{ failed_lambda }} final error message<br/>{{ version_alias }}</strong></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>Timestamp</strong></td>
          <td><strong>Log Message</strong></td>
        </tr>
        <tr>
          <td>{{ error['timestamp'] }}</td>
          <td>{{ error['message'] }}</td>
        </tr>
      </tbody>
    </table>
    <br/>
    <br/>
    <table border="1">
      <thead>
        <tr>
          <th colspan="2"><strong>Preceding logs from logstream<br/>{{ error['logstream'] }}</strong></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>Timestamp</strong></td>
          <td><strong>Log Message</strong></td>
        </tr>
        {% for log in all_logs %}
        <tr>
          <td>{{ log['timestamp'] }}</td>
          <td>{{ log['message'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>